h1:hover {
    transform: translate3d(0, -10px, 22px);
    color: #ff0266;
}

.slider h2 {
    font-size: 2vw;
    letter-spacing: 0.3rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
}

h3.span {
    font-size: 2vw;
    letter-spacing: 0.7em;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
}

span:hover {
    color: #ff0266;
    font-weight: 500;
    font-size: 2.2vw;
}

a {
    text-decoration: none;
}

.nav-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: #1e1f26;
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-first {
    position: fixed;
    top: 75px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-container--top-second {
    position: fixed;
    top: 0;
}

.nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #03dac6;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 2vw;
}

.nav-tab:hover {
    color: #1e1f26;
    background: #03dac6;
    transition: all 0.5s ease;
}

.nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #03dac6;
    transition: left 0.3s ease;
}

.background {
    position: absolute;
    height: 90vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: auto;
}

@media (min-width: 800px) {
    .nav h1,
    .slider h1 {
        font-size: 5vw;
    }
    .nav h2,
    .slider h2 {
        font-size: 3vw;
    }
    .nav-tab {
        font-size: 3vw;
    }
}

@media screen only (min-width: 360px) {
    .nav h1,
    .slider h1 {
        font-size: 8vw;
    }
    .nav h2,
    .slider h2 {
        font-size: 2vw;
        letter-spacing: 0.2vw;
    }
    .nav-tab {
        font-size: 1.2vw;
    }
}

.background {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    -webkit-animation: loading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
    to {
        text-shadow: 20px 0 70px #7802ff;
        color: #7802ff;
    }
}

.loader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
}

.loader span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
}

.loader span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
}

.loader span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
}

.loader span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
}

.loader span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
}

.loader span:nth-child(8) {
    -webkit-animation-delay: 0.7s;
}

.loader span:nth-child(9) {
    -webkit-animation-delay: 0.8s;
}

.loader span:nth-child(10) {
    -webkit-animation-delay: 0.9s;
}

.loader span:nth-child(11) {
    -webkit-animation-delay: 1s;
}

.loader span:nth-child(12) {
    -webkit-animation-delay: 1.1s;
}

.loader span:nth-child(13) {
    -webkit-animation-delay: 1.2s;
}

.loader span:nth-child(14) {
    -webkit-animation-delay: 1.3s;
}

.loader span:nth-child(15) {
    -webkit-animation-delay: 1.4s;
}

.loader span:nth-child(16) {
    -webkit-animation-delay: 1.5s;
}

.loader span:nth-child(17) {
    -webkit-animation-delay: 1.6s;
}

.loader span:nth-child(18) {
    -webkit-animation-delay: 1.7s;
}

.loader span:nth-child(19) {
    -webkit-animation-delay: 1.8s;
}

.loader span:nth-child(20) {
    -webkit-animation-delay: 1.9s;
}

.loader span:nth-child(21) {
    -webkit-animation-delay: 2s;
}

.loader span:nth-child(22) {
    -webkit-animation-delay: 2.1s;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #69cacf, 0 0 25px #69cacf, 0 0 50px #69cacf, 0 0 100px #69cacf;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

.github {
    bottom: 10px;
    right: 10px;
    position: fixed;
    border-radius: 10px;
    background: #fff;
    padding: 0 12px 6px 12px;
    border: 1px solid #000;
}

.github a:hover,
.github a:link,
.github a:visited,
.github a:active {
    color: #000;
    text-decoration: none;
}

.github img {
    height: 30px;
}

.github #gh-project {
    font-size: 20px;
    padding-left: 5px;
    font-weight: bold;
    vertical-align: bottom;
}